<!DOCTYPE html>
<html>
<head>
<style>

.borderless > thead > tr > th,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > tbody > tr > td,
.borderless > tfoot > tr > td {
  border-top: none;
}

table, th, td, h1 {
	padding: 10px;
	}
body{
  background-color: black;
  }

h1{
  padding-left: 200px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 60px;
  color: #666666;
}
.container {
  position: relative;
  width: 80%;
}
.image {
  display: block;
  height: 300;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}
.container:hover .overlay {
  opacity: .85;
}
.text {
  color: white;
  font-size: 20px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text-title {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.modal-body {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  width: 90%;
}
.modal-title {
  display: block;
  font-family: 'Anton', sans-serif;
  font-size: 32px;
}
.navbar-text{
  padding-left: 20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  color: #666666;
}
.quickdirt-title{
  font-family: 'Indie Flower', cursive;
  font-size: 26px;
  width: 80%;
  padding-top: 15px;
  text-align: left;
}
.quickdirt-text{
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  width: 70%;
  text-align: left;
}
.prescrips-title{
  font-family: 'Pangolin', cursive;
  font-size: 38px;
  text-align: center;
  color: #c62100;
}
.prescrips-text{
  font-family: 'Pangolin', cursive;
  font-size: 18px;
  width: 60%;
  text-align: center;
  color: #c62100;
}
/* Add a black background color to the top navigation bar */
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial;
}

.topnav {
  overflow: hidden;
  background-color: #666666;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #666666;
  color: black;
}

.topnav a.active {
  background-color: #397c2a;
  color: #fefff9;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #666666;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #c10000;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
</style>


<!-- Logo and about phrase -->
<div class="container" style="width:100%; padding-top: 15px; padding-left:70px">
    <img src="/btpLogo2.png" height="120"><br>
    <p class="navbar-text">
      straight up movie reviews by Jacob Mello
    </p>
  </div>
<br>
<br>
<!-- End of logo area -->

<!-- Search Area -->


    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="search" id="search" value="" class="form-control" placeholder="Search Reviews">
        </div>
    </div>
    <div class="row" style="padding-left: 10%; padding-right: 10%">
        <div class="col-lg-12">
            <table border ="0" class="table borderless" id="table" width="80%">
                <thead>
                    <tr>
                        <th style="color: white; text-align: center">Title</th>
                        <th style="color: white;text-align: center">Score</th>
                        <th style="color: white;text-align: center">Release Date</th>
                    </tr>
                </thead>
                <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td class="text-title" style="padding-left: 20%;"><%= link_to review.title, allreview_path(review) %></td>
      <td id="score" class="text-title" style="text-align: center"><%=review.score%></td>
      <td  class="text-title" style="text-align: center"><%= review.release.to_formatted_s(:long) %></td>
    </tr>
  <% end %>
                </tbody>
            </table>
        </div>
    </div>
<br><br>
</div>