<style>
body{
	background-color: lightgrey;
	}
</style>


<div class="container">
	<div class="jumbotron">
		<h1>Behind the Popcorn
		<img src="/btpLogo.png" height="100"></h1>

		<p>straight up movie reviews by Jacob Mello</p>
	</div>
</div>

<div class="container">
<style>
  div{
    padding-top: 0px;
  }
</style>
<br>
<div class="panel-group" id="accordion">
  <% @i = 0 %>
  <% @reviews.each do |review| %>
  <% @i = @i + 1 %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href= #collapse<%= @i %>>
        <strong><%= review.title %></strong></a>
      </h4>
    </div>
    <div id=collapse<%= @i %> class="panel-collapse collapse">
      <div class="panel-body"><%= review.body.html_safe %></div>
    </div>
  </div>
  <% end %>
  <% @i = 0 %>
</div>
</div>
