<style>
  li, ul, div{
    padding-top: 5px;
    padding-left: 10px;
  }
</style>

<ul class="nav nav-pills">
  <li role="button" class="active"><a href="#">Home</a></li>
  <li role="presentation" class="disabled"><a href="#">Review Database</a></li>
  <li role="presentation" class="disabled"><a href="#">Upload</a></li><div class="row">

<style>
  div{
    padding-top: 10px;
    padding-left: 0px;
  }
</style>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</ul>